header {
  height: 600px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    background-image: url(../../images/Header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  .header-content {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    padding: 0px 50px;
    .header-input-main {
      background-color: #fff;

      width: 750px;
      height: 60px;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-radius: 10px;
      position: relative;
      .input-search {
        width: 100%;
        display: flex;
        align-items: center;
        color: gray;
        svg {
          margin-right: 10px;
        }
        input {
          border: 0px;
          font-size: 15px;
          outline: none;
          width: 90%;
        }
      }
      button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: #1565d8;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .tags-main {
      display: flex;
      align-items: center;
      .tag {
        margin-left: 10px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid #ffffff;
        backdrop-filter: blur(10px);
        border-radius: 4px;
        padding: 5px 10px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
        h3 {
          font-size: 15px;
        }
      }
    }
  }
}
